configuration {
    font: "JetBrainsMono Nerd Font 11";
    show-icons: false;

    hover-select: false;
    scroll-method: 1;

    me-select-entry: "";
    me-accept-entry: "MousePrimary";

    window-format: "{w} · {c} · {t}";
}

@theme "~/.config/rofi/colors.rasi"

window {
    width: 24em;
    height: 0em;

    location: center;
    anchor: center;

    padding: 1.1em;

    border: 0.12em;
    border-color: @outline;
    border-radius: 1.2em;

    background-color: @surface;

    transparency: "real";
}

mainbox {
    enabled: true;

    orientation: vertical;
    spacing: 0.7em;
    padding: 0em;

    children: [
        "prompt",
        "listview"
    ];

    background-color: transparent;
}

prompt {
    enabled: true;

    padding: 0.2em 0.5em;

    text-color: @on-surface;
    background-color: transparent;
}

listview {
    enabled: true;

    columns: 1;
    lines: 5;

    dynamic: true;
    fixed-height: false;
    fixed-columns: true;

    cycle: true;
    reverse: false;

    layout: vertical;

    spacing: 0.4em;
    padding: 0em;

    scrollbar: false;

    background-color: transparent;
}

element {
    enabled: true;

    padding: 0.7em 0.9em;
    spacing: 0.7em;

    cursor: pointer;

    border-radius: 0.9em;

    background-color: @surface-container;
    text-color: @on-surface;
}

element normal {
    background-color: @surface-container;
    text-color: @on-surface;
}

element alternate {
    background-color: @surface-container;
    text-color: @on-surface;
}

element active {
    background-color: @surface-container;
    text-color: @on-surface;
}

element urgent {
    background-color: @surface-container;
    text-color: @on-surface;
}

element selected {
    background-color: @primary-container;
    text-color: @on-primary-container;
}

element-text {
    enabled: true;

    horizontal-align: 0.0;
    vertical-align: 0.5;

    cursor: inherit;

    background-color: transparent;
    text-color: inherit;
}

element-icon {
    enabled: false;

    size: 0em;

    background-color: transparent;
    text-color: inherit;
}
