// Hyprshade //

configuration {
    font: "JetBrainsMono Nerd Font 11";
    show-icons: false;
}


// Theme //

@theme "~/.config/rofi/colors.rasi"


// Window //

window {
    width: 24em;
    height: 0em;

    location: center;

    padding: 1.1em;

    border: 0.12em;
    border-color: @outline;
    border-radius: 1.2em;

    background-color: @surface;

    transparency: "real";
}


// Main Box //

mainbox {
    enabled: true;

    padding: 0em;
    spacing: 0.7em;

    orientation: vertical;

    children: [
        "prompt",
        "listview"
    ];

    background-color: transparent;
}


// Prompt //

prompt {
    enabled: true;

    padding: 0.2em 0.5em;

    text-color: @on-surface;

    background-color: transparent;
}


// List //

listview {
    enabled: true;

    columns: 1;
    lines: 5;

    dynamic: true;
    fixed-height: false;
    fixed-columns: true;

    spacing: 0.45em;
    padding: 0em;

    scrollbar: false;

    layout: vertical;

    background-color: transparent;
}


// Option //

element {
    enabled: true;

    padding: 0.7em 0.9em;

    spacing: 0.7em;

    cursor: pointer;

    border-radius: 0.9em;

    background-color: @surface-container;
    text-color: @on-surface;
}


// Selected Option //

element selected {
    background-color: @primary-container;
    text-color: @on-primary-container;

    border-radius: 0.9em;
}


// Text //

element-text {
    enabled: true;

    horizontal-align: 0.0;
    vertical-align: 0.5;

    background-color: transparent;

    text-color: inherit;

    cursor: inherit;
}
