// Power Profile //

configuration {
    font:                        "JetBrainsMono Nerd Font 11";
    show-icons:                  false;
    kb-row-up:                   "Up";
    kb-row-down:                 "Down";
    kb-accept-entry:             "Return";
    kb-cancel:                   "Escape";
}

@theme "~/.config/rofi/colors.rasi"


// Main //

window {
    width:                       28em;
    height:                      0em;

    transparency:                "real";
    fullscreen:                  false;
    enabled:                     true;

    cursor:                      "default";

    spacing:                     0em;
    padding:                     1.2em;

    border:                      0.12em;
    border-color:                @outline;
    border-radius:               1.2em;

    background-color:            @surface;
}


// Main Box //

mainbox {
    enabled:                     true;

    spacing:                     0.8em;
    padding:                     0em;

    orientation:                 vertical;

    children:                    [ "header", "listview" ];

    background-color:            transparent;
}


// Header //

header {
    enabled:                     true;

    spacing:                     0.6em;
    padding:                     0.2em 0.5em;

    children:                    [ "prompt" ];

    background-color:            transparent;
}

prompt {
    enabled:                     true;

    padding:                     0em;

    text-color:                  @on-surface;
    background-color:            transparent;
}


// Profile List //

listview {
    enabled:                     true;

    spacing:                     0.45em;
    padding:                     0em;

    columns:                     1;
    lines:                       3;

    cycle:                       true;
    dynamic:                     true;

    scrollbar:                   false;

    layout:                      vertical;
    reverse:                     false;

    expand:                      false;
    fixed-height:                false;
    fixed-columns:               true;

    cursor:                      "default";

    background-color:            transparent;
}


// Profile //

element {
    enabled:                     true;

    spacing:                     0.8em;

    padding:                     0.7em 0.9em;

    cursor:                      pointer;

    background-color:            @surface-container;
    text-color:                  @on-surface;

    border-radius:               0.9em;
}

element selected.normal {
    background-color:            @primary-container;
    text-color:                  @on-primary-container;

    border-radius:               0.9em;
}


// Text //

element-text {
    enabled:                     true;

    vertical-align:              0.5;
    horizontal-align:            0.0;

    cursor:                      inherit;

    background-color:            transparent;
    text-color:                  inherit;

    border-radius:               0.9em;
}
